<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <!-- 리스트 : 부트스트랩은 모바일 우선이라 화면이 작으면 아래로 쌓아서 내려온다 -->
    <ul class="navbar-nav navbar-dark">
        <li class="nav-item active"><a class="nav-link" href="#">채영게시판</a></li>
        <li class="nav-item active"><a class="nav-link" href="#">로그인</a></li>
        <li class="nav-item"><a class="nav-link" href="#">회원목록</a></li>
        <li class="nav-item dropdown"> <!-- 드롭다운 메뉴--> <a class="nav-link dropdown-toggle" href="#"
                                                          data-toggle="dropdown"> Dropdown </a>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">Link 1</a> <a class="dropdown-item" href="#">Link
                2</a> <a class="dropdown-item" href="#">Link 3</a></div>
        </li>
    </ul> <!-- Search -->
    <form class="form-inline" action="/posts/search" method="get"> <!-- inline여야 간격이 없이 메뉴처럼 나온다-->
        <input  type="text" placeholder="Search" name = "keyword">
        <button>Search</button>
    </form>
</nav>
<br><br><br>
