{{>layout/header}}
{{>layout/navigator}}
<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            {{#posts}}
            <label for="title">게시글 작성일</label>
            <input type="text" class="form-control" id="createdDate" value="{{createdDate}}" readonly>
        </div>
        <div class="form-group">
            <label for="title">게시글 수정일</label>
            <input type="text" class="form-control" id="createdDate" value="{{modifiedDate}}" readonly>
        </div>
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{writer}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" readonly>{{content}}</textarea>
            </div>

        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
            {{#sessionUser}}
        <a href="/posts/update/{{posts.id}}" role="button" class="btn btn-secondary">수정</a>
                <a href="/posts/delete/{{posts.id}}" role="button" class="btn btn-secondary">삭제</a>

                <!--<button type="button" class="btn btn-danger" id="btn-delete">삭제</button> -->
            {{/sessionUser}}
    </div>
            {{/posts}}
</div>
{{>layout/footer}}